@import "../../../styles/colors.scss";
@import "../../../styles/fonts.scss";

.top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;

  span {
    font-size: 30px;
    font-weight: bold;
    font-family: $heading-font;
  }
}

.form {
  display: flex;
  flex-direction: column;

  input {
    padding: 10px;
    margin: 10px 0px;
    border-radius: 20px;
    outline-color: $primary-color;
  }

  button {
    padding: 10px;
    cursor: pointer;
    background-color: $primary-color;
    font-size: 18px;
    border-radius: 20px;
    transition: 0.2s ease-in-out;
    font-weight: bold;
    border: 3px solid black;

    &:hover {
      background-color: $primary-color;
      scale: 1.02;
      transition: 0.2s ease-in-out;
    }
  }

  .loginLink {
    font-size: 12px !important;
    margin: 5px 0px;
  }

  .formError {
    font-weight: 200;
    color: red;
    font-size: 11px;
  }

}