@import "./colors.scss";

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .loginCard {
    display: flex;
    width: 50vw;
    height: 400px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);

    .left {
      flex: 1;
      background-color: $primary-color;
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      p {
        font-weight: lighter;
      }
    }

    .right {
      flex: 1;
      padding: 20px;
      display: flex;
      justify-content: center;
      flex-direction: column;

      h1 {
        margin-bottom: 20px;
      }

      form {
        display: flex;
        flex-direction: column;

        input {
          padding: 20px 10px;
          border-radius: 20px;
          border: 1px solid black;
          margin-bottom: 20px;
          outline-color: $primary-color;
        }

        button {
          padding: 10px;
          font-size: 18px;
          border-radius: 20px;
          border: none;
          background-color: $primary-color;
          transition: 0.2s ease-in-out;

          &:hover {
            scale: 1.02;
            transition: 0.2s ease-in-out;
            cursor: pointer;
          }
        }
      }
    }
  }
}