@import "../styles/colors.scss";
@import "../styles/mixins/responsive/responsive.scss";

.volunteers {
  margin-top: 120px;

  .topBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding-bottom: 20px;

    .right {
      button {
        background-color: $secondary-color;
        padding: 10px;
        font-size: 16px;
        color: white;
        font-weight: bold;
        border: none;
        border-radius: 10px;

        &:hover {
          opacity: 0.9;
          cursor: pointer;
        }
      }
    }
  }

  .requestForm {
    display: flex;
    flex-direction: column;

    input {
      padding: 10px 5px;
      border: none;
      border-bottom: 1px solid black;
      font-size: 16px;
      margin-bottom: 10px;
    }

    textarea {
      padding: 10px 5px;
      font-size: 16px;
      margin-bottom: 10px;
      border: none;
      border-bottom: 1px solid black;
    }

    button {
      padding: 10px 5px;
      font-size: 14px;
      border: none;
      background-color: $primary-color;
      border-radius: 10px;
      transition: 0.2s ease-in-out;

      &:hover {
        opacity: 0.9;
        transition: 0.2s ease-in-out;
        cursor: pointer;
      }

      i {
        margin-right: 10px;
      }
    }
  }

  .offersReceived {
    background-color: $secondary-color;
    border: none;
    padding: 10px;
    font-size: 14px;
    margin-top: 10px;
    border-radius: 10px;
    font-weight: 500;
    color: white;
    transition: 0.2s ease-in-out;

    &:hover {
      cursor: pointer;
      opacity: 0.9;
      transition: 0.2s ease-in-out;
    }
  }

  .forFarmers {
    display: flex;

    @include mobile {
      flex-direction: column;
    }

    .left {
      flex: 1;
      margin-right: 20px;

      @include mobile {
        margin-right: 0px;
      }

      h2 {
        margin-bottom: 20px;
      }
    }

    .right {
      flex: 1;
      height: calc(100vh - 120px);
      overflow: scroll;

      @include mobile {
        height: fit-content;
        overflow: visible;
      }
    }
  }
}