@import "../../styles/colors.scss";

.post {
  width: 100%;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 10px;
  border-radius: 10px;

  .askedDate {
    font-weight: 200;
    font-size: 12px;
  }

  .question {
    .title {
      font-size: 24px;
    }

    .description {
      margin-top: 5px;
      font-weight: 300;
      font-size: 16px;
      margin-bottom: 10px;
    }
  }

  [data-theme] {
    button {
      &:first-of-type {
        color: black;
      }
    }
  }

  .btns {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      padding: 5px 10px;
      font-size: 14px;
      border-radius: 10px;
      border: none;
      cursor: pointer;

      &:hover {
        transition: 0.2s ease-in-out;
        opacity: 0.9;
      }
    }

    .answersButton {
      background-color: $primary-color;
    }

    .deleteButton {
      background-color: red;
      color: white;
    }


  }

  .answers {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid gray;

    .first_text {
      font-weight: 500;
    }

    [data-theme] {
      button {
        color: blakc;
      }
    }

    textarea {
      padding: 5px;
      width: 50%;
      outline-color: $primary-color ;
      border: none;
      border-bottom: 1px solid black;
      outline: none;
      margin-right: 10px;
    }

    ul {
      margin-left: 10px;


    }

    button {
      padding: 5px 10px;
      font-size: 14px;
      border-radius: 20px;
      border: none;
      background-color: $primary-color;
      cursor: pointer;
      transition: 0.2s ease-in-out;

      &:hover {
        transition: 0.2s ease-in-out;
        opacity: 0.9;
      }
    }

  }
}