<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
</head>

<body style="background-color: #FFCC2A; font-family: Arial, sans-serif;">
  <div style="padding: 10px; background-color: white; border-radius: 10px;">
    <div style="display: flex; width: 100%; height: 100px;">
      <img
        src="https://lh3.googleusercontent.com/pw/AJFCJaXB31xfLUablANwViCMArNsfctVjONDEvOJ_uARdI_hCSSfQ5wCoFYF2MdJs6ey4UQJrTUxHwM_4bGkCUustmXbsWKSxYeKfAn3hz_sUSDxqvLxRA6mAB9aj5NGK-yyVhxdtrJEG-1xmsYqpQZsJ0uJ5w=w500-h500-s-no?authuser=0"
        alt="Ujyalo Krishi Logo" style="width: 100px; height: 100px; object-fit: cover;">
    </div>
    <h3 style="margin-top: 20px; text-align: center;">System Notification</h3>
    <p style="margin-top: 20px;">{{message}}</p>
  </div>
</body>

</html>